.select-list {background: #fff; line-height: 33px; padding: 0px 38px 0px 6px; position: relative; color: #777; cursor: pointer;}
.select-values {display: none; z-index: 10; position: absolute; left: 0px; top:30px; background: #fff; border: 1px solid #f5f5f5; border-top: -1px;}
.select-list-triangle {position: absolute; right: 0px; top:0px; height: 100%; width: 27px; background: #0782C1; display: block;}
.select-list-triangle::after {content: '';   position: absolute;  left: 50%;   margin: -3px 0px 0px -7px;  top:50%;   border: 7px solid transparent;   border-top: 7px solid #fff;}
.select-values div {padding: 0px 8px;}
.select-values div:hover {background-color: #f5f5f5;}
.select-line {border-top: 1px solid #f1f1f1;}
.select-red {border-top: 1px solid #f1f1f1; color: red;}
.select-blue {border-top: 1px solid #f1f1f1; color: #0782C1;}
.select-list-view-color-grey {background: #f5f5f5;}